body {
    list-style-type: none;
    margin: 0;
    padding: 0;
	
}
li {
	display: inline;
	font-family: sans-serif, arial;
	font-family: sans-serif, arial;
	font-size: 13.5px;
	padding-right: 8px;
}
.references {
	padding-right: 5px;
	margin-right: 15px;
}
a {
	text-decoration: none;
	color: gray;
}
.links{
	margin-right: 8px;
	padding-top: 20px;
}
.icons {
	margin: 0;
	padding-top: 15px;
	padding-right: 4px;
}
.avatar{
	border-radius: 50%;
    height: 32px;
    width: 32px;
	margin-right: 15px;
}
.header{
	width: 80%;
	display: inline;
	
}
.main{
	position: relative;
	top: 193px;
	left: 390px;
	right: 450px;
	width: 600px;
	height: 300px;
}
.googlelogo {
	height: 92px;
    width: 272px;
	padding-left: 164px;
	padding-bottom: 30px;

}
.searchbox{
	width: 100%;
	height: 38px;
	margin-bottom: 30px;
}
.sbutton{
	margin-left:170px;
	margin-right: 6px;
	font-size: 14px;
	padding: 10px;
	border-style: none;
	background-color: #f3f3f3;
	color: gray;
	font-weight: bold;
}
.lbutton{
	font-size: 14px;
	padding: 10px;
	border-style: none;
	background-color: #f3f3f3;
	color: gray;
	font-weight: bold;
}
.footer{
	background-color: #f3f3f3;
	position: fixed;
    bottom: 0;
	height: 28px;
    width: 100%;
	padding-bottom: 20px;
}